*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*! header start */
.header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.logoBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuBox{
    display: flex;
    justify-content: center;
}
.menuBox ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.menuBox ul li{
    display: flex;
    margin: auto;
    padding: 10px;
    font-size: 20px;
}
.menuBox ul li i{
    font-size: 14px;
    margin-top: 11px;
    margin-left: 2px;
}
.iconBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconBox i{
    margin: 10px;
    font-size: 20px;
}
/*! header end */


/*! container1 start */
.container1{
    display: flex;
    background-color: #f0e0ff;
    position: relative;
    height: 650px;
}
.container1-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.container1-left div h3{
    font-size: 35px;
}
.container1-left div h1{
    font-size: 75px;
}
.container1-left div button{
    width: 196px;
    height: 57px;
    background-color: #f0e0ff;
    border: 1px solid black;
    margin-top: 50px;
    font-size: 20px;
}
.container1-right{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container1-right img{
    background-position: center;
    background-size: contain;
    width: auto;
    height: 90%;
    position: absolute;
    bottom: 0;

}
/*! container1 end */


/*! container2 start */
.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 100px;
}
.rowBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.supportBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.supportBox img{
    width: auto;
    height: 50px;
    margin-bottom: 13px;
}
.supportWrap{
    padding-left: 13px;
}
.supportWrap h5{
    font-size: 18px;
}
.supportWrap p{
    margin-bottom: 1rem;
}
/*! container2 end */


/*! container3 start */
.container3 h2{
    text-align: center;
}
.tab-content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.nav-item{
    text-align: center;
    padding-bottom: 55px;
    padding-top: 30px;
}
.nav-item a{
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin: 20px 35px;
}
.card{
    width: 300px;
    height: auto;
    margin: 10px;
}
.card-img{
    display: flex;

}
.card-img img{
    background-size: cover;
    background-position: center;
    width: 300px;
    height: auto;
}
.card-bottom{
    text-align: center;
}
.card-bottom a{
    text-decoration: none;
    font-size: 15px;
}
/*! container3 end */


/*! container4 start */
.container4{
    display: flex;
    flex-direction: column;
}
.container4-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.container4 h2{
    margin-bottom: 55px;
    margin-top: 60px;
    text-align: center;
}
.imageContainer-bottom{
    text-align: center;
}
.imageContainer-bottom a{
    text-decoration: none;
    color: black;
}


/*! container4 end */